@media only screen and (max-width: 600px) {
  .header {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     align-content: center;
     }
     .top {
       background-color: navy;
     }
.half-top {
  background-color: rgb(42, 105, 126)
}



     .menu {
            width: 35px;
            height: 5px;
            background-color: black;
            margin: 6px 0;
          }
        }