@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  
  
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: -20px;
    padding-right: -20px;
    padding-bottom: -20px;
    padding-left: -20px;

  }

  .top-half {
    background-color: navy;
    display: flex;
    justify-content: center;
  }

  .image-1 {
    width: 50px ;
    height: 50px;
  }

  .bottom-half {
    background-color: rgb(42, 105, 126);
    display: flex;
    justify-content: center;
  }

  .cute {
    background-image: url('puppy-hero-bg.jpg');
    display: flex;
    flex-wrap: wrap;
  }

  .menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .pets {
    display: flex;
  }

  .doggieo {
    display: flex;
  }

  .recommendations {
    display: flex;
  }

  .about {
    display: flex;
  }

  .testimonials {
    display: flex;
  }

  .social {
    display: flex;
  }









}