@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .top-half {
    background-color: #003964;
    text-align: center;
  }

  .bottom-half {
    background-color: #074980;
  }

  .image-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    margin-top: 25px;
  }

  .search {
    display: block;
    margin-left: 200px;
  }

  .textbox {
    margin-bottom: 50px;
    margin-top: 25px
  }

  .cute {
    background-image: url('puppy-hero-bg.jpg');
    display: flex;
    flex-wrap: wrap;
  }

  .pets {
    display: flex;
  }

  .doggieo {
    display: flex;
  }

  .recommendations {
    display: flex;
  }

  .about {
    display: flex;
  }

  .testimonials {
    display: flex;
  }

  .social {
    display: flex;
  }









}