@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500;600&family=Roboto:wght@500&display=swap');

.fonts {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  color: orangered;
}

@media only screen and (min-width: 601px) {
  body {
    margin: 0;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .top-half {
    background-color: #003964;
    text-align: center;
  }

  .bottom-half {
    background-color: #074980;
  }

  .image-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 150px;
    margin-top: 25px;
  }

  .search {
    display: block;
    margin-left: 600px;
  }

  .textbox {
    margin-bottom: 50px;
    margin-top: 25px
  }

  .buttons {
    display: grid;

  }


  .dog-button {
    background-color: #F85C62;
    width: 100%;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    text-align: center;
  }

  .cat-button {
    background-color: rgb(126, 77, 126);
    width: 100%;
    text-align: center;
  }

  .fish-button {
    background-color: #3F9CE0;
    width: 100%;
    text-align: center;
  }

  .meaning {
    text-align: center;
  }

  .cute {
    background-color: #F7B129;
  }

  .puppy {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    flex-direction: row;
    margin-left: 10%;
  }

  .pets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .change {
    color: rgb(119, 5, 52);
    font-family: 'Roboto Slab', serif;
  }


  .dogs {
    background-image: url(images/dogs.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    width: 20%;
  }

  .cats {
    background-image: url(images/cats.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    width: 20%;
  }

  .birds {
    background-image: url(images/birds.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    width: 20%;
  }

  .fish {
    background-image: url(images/fish.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    width: 20%;
  }

  .reptiles {
    background-image: url(images/reptiles.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    width: 20%;
  }

  .doggieo {
    background-color: #003964;
    display: flex;
    flex-direction: column-reverse;
    height: 500px;
    align-items: center;
  }

  .recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003964;
    color: #F7B129;
    border: #f7b129;
    border-style: solid;
  }

  .test {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(5, 100px);
    gap: 1rem;
    background-color: #003964;
  }

  .box1 {
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .box2 {
    background-color: blueviolet;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .box3 {
    background-color: brown;
    grid-column: 4 / 5;
    grid-row: 2 / 3;

  }

  .box4 {
    background-color: seagreen;
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }



  /*.recommendation1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
  }
  .recommendation2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
  }
*/






  .price {
    display: flex;
    flex-direction: column;
  }

  .about {
    background-color: #F85C62;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 200px;
    flex-wrap: nowrap;
  }

  .about2 {
    border-color: purple;
    border-style: double;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
  }

  .about3 {
    border-color: white;
    border-style: solid;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
  }

  .testimonials {
    background-color: rgb(121, 112, 112);
    display: flex;

  }

  .text {
    color: #003964;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
  }

  .circle {
    border-width: 10px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
  }

  .social {
    background-color: purple;
    color: whitesmoke;
  }

  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
  }

  .media {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
  }

  .pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
  }

  footer {
    background-color: #39B173;
    display: flex;
    flex-direction: column;
    align-items: center;
  }




}