@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500;600&family=Roboto:wght@500&display=swap');


@media only screen and (min-width: 601px) {
  body {
    margin: 0;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .top-half {
    background-color: #003964;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
    flex-wrap: nowrap;
  }

  .distance {
    margin-left: 5%;
    margin-right: 5%;
  }


  .bottom-half {
    background-color: #074980;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .image-1 {
    display: flex;
    margin-left: 50%;
    margin-right: 10%;
    width: 160px;
    height: 150px;
    margin-top: 25%;
    margin-bottom: 25%;
  }

  .search {
    display: block;

  }

  .textbox {
    border-style: solid;
    border-radius: 15%;
    font-size: 30px;
    margin-top: 20%;
  }

  .submit-button {
    background-color: rgb(161, 53, 14);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
  }

  .hello {
    margin-right: 20%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: aliceblue;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  a:link, a:visited {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
  }

  .dog-button {
    background-color: #F85C62;
    width: 50%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 0%;
    margin-right: 0%;

  }

  .cat-button {
    background-color: rgb(126, 77, 126);
    width: 50%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 0%;
    margin-right: 0%;
    
  }

  .fish-button {
    background-color: #3F9CE0;
    width: 50%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 0%;
    margin-right: 0%;

  }

  .birds-button {
    background-color: #F88824;
    width: 50%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 0%;
    margin-right: 0%;
  
  }

  .reptiles-button {
    background-color: #39B173;
    width: 50%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 0%;
    margin-right: 0%;
    
  }

  .meaning {
    text-align: center;
  }

  .cute {
    background-color: #F7B129;
  }

  .cute1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #003964;
    text-align: center;
  }

  .cute2 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #003964;
    text-align: center;
  }

  .cute3 {
    background-color: #003964;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
    margin-left: 35%;
    width: 10%;
    height: 10%;
  }

  .puppy {
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    width: 30%;
    flex-direction: row;
    margin-left: 35%;

  }

  .pets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .change {
    color: rgb(119, 5, 52);
    font-family: 'Roboto Slab', serif;
  }


  .dogs {
    background-image: url(images/dogs.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    width: 20%;
  }

  .dogs1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
  }

  .cats {
    background-image: url(images/cats.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    width: 20%;
  }

  .cats1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
  }

  .birds {
    background-image: url(images/birds.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    width: 20%;
  }

  .birds1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
  }

  .fish {
    background-image: url(images/fish.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    width: 20%;
  }

  .fish1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
  }

  .reptiles {
    background-image: url(images/reptiles.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    width: 20%;
  }

  .reptiles1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
  }

  .doggieo {
    background-color: #003964;
    display: flex;
    flex-direction: row;
    height: 500px;
    align-items: center;
  }

  .attempt {
    display: flex;
    flex-direction: column;
  }

  .fonts {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
  }

  .cool-dog {
    height: 70%;
    margin-left: 25%;
  }

  .recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .fonts1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #003964;
  }

  .test {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 1rem;

  }

  .box1 {
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .box2 {
    background-color: blueviolet;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .box3 {
    background-color: brown;
    grid-column: 4 / 5;
    grid-row: 1 / 2;

  }

  .box4 {
    background-color: seagreen;
    grid-column: 5 / 6;
    grid-row: 1 / 2;
  }

  .price {
    display: flex;
    flex-direction: column;
  }

  .about {
    background-color: #F85C62;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
    justify-content: center;
  }

  .store {
    width: 25%;
    height: 25%;
  }

  .about2 {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-right: 10%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
  }

  .testimonials {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
  }

  .text {
    color: #003964;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
  }

  .client {
    border: solid;
    color: gold;
    border-radius: 3%;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: row-reverse;
  }

  .circle {
    border: none;
    border-radius: 50%;

  }

  .words {
    display: flex;
    flex-direction: column;
  }

  .social {
    background-color: purple;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin-top: 0%;
  }

  .address {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-left: 35%;
  }

  .pictures {
    display: flex;
    flex-direction: row;
    height: 10%;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
  }

  .last-button {
    background-color: orangered;
    width: 100%;
    margin-top: 10%;
  }

  footer {
    background-color: #39B173;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
  }

  .fin {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: red;
  }




}